.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3ca1b5;
  height: 100%;
  width: 20vw;
  color: white;
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25vh;
  padding-left: 2vw;
  font-size: clamp(1rem, 2vw, 3rem);
  gap: 7vh;
}
