body {
  overflow: hidden;
}

.RegisterContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.RightBox {
  position: absolute;
  right: 0;
  top: 0;
  width: 40vw;
  height: 100vh;
  background-color: #168aad;
  opacity: 90%;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  z-index: -1;
  transition: width 1s ease, left 1s ease;
}

.RegisterRight {
  color: white;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 33vh;
  position: relative;
  height: 100%;
  right: -5.5vw;
  transition: transform 1s ease, opacity 1s ease;
}

.RegisterRight h1 {
  font-size: 4.2vw;
  margin-bottom: 1vw;
}

.RegisterRight p {
  font-size: 2vw;
  margin-bottom: 2vw;
}

.RightButton {
  font-size: 1.5vw !important;
  background: transparent;
  border: 1px solid white !important;
  border-color: white !important;
  color: white !important;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 0px;
}

.RightButton:hover {
  transform: scale(1.05);
  color: white;
  font-weight: bolder;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.RegisterLeft {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20vh;
  position: relative;
  right: -4vw;
  transition: transform 1s ease, opacity 1s ease;
}

.Input {
  margin-bottom: 4vh !important;
  font-size: 1.5vw !important;
  width: 30vw !important;
  height: 3vw !important;
  color: black !important;
}

.LeftButton {
  background-color: #168aad !important;
  border: 1px solid #127390 !important;
  opacity: 78% !important;
  font-size: 1.5vw !important;
  width: 30vw !important;
  height: 4vw !important;
  color: white !important;
  cursor: pointer;
  transition: all 0.3s ease;
}

.LeftButton:hover {
  font-weight: bolder;
  background-color: #147f9f !important;
  border-color: #168aad !important;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ErrorText {
  color: #d22b2b;
  font-size: 1.2vw;
}

.PasswordContainer {
  position: relative;
  width: 30vw;
  align-items: center;
}

.PasswordToggle {
  position: absolute;
  right: 15px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}
